<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      
      <!--<aspNetCore processPath="D:\___NEW_ORG\LEARN\.NetCore\GETTING_ON\05-MakeMyApp\wapiSeg\bin\Release\netcoreapp3.1\wapiSeg1BD.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44391" />
          <environmentVariable name="ASPNETCORE_ENVIRONMET" value="Development" />
        </environmentVariables>
      </aspNetCore>-->
      
      <!--<handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />      
      </handlers>-->

      <validation validateIntegratedModeConfiguration="false" />
      
    </system.webServer>
  </location>
</configuration>